{% extends 'base/main.html' %}
{% load static %}
{% block content %}


    <h1 class="text-center">Bienvenu sur mon blog</h1>
    
    <div class="container mt-5">
      <div class="row">
		  {% for article in liste_articles %}
        <div class="col-12 my-3 col-md-6 col-lg-3">
			<div class="card">
				
				{% if article.image == "http://default" %}
				
				<a href="{% url 'detail' article.id %}"><img src="https://picsum.photos/200/300" class="card-img-top" alt="..." style="height: 230px;"/></a>
				
				{% else %}
				<a href="{% url 'detail' article.id %}"><img src="{{ article.image.url }}" class="card-img-top" alt="..." style="height: 230px;"/></a>
				
				{% endif %}
				  
				<div class="card-body" style="height: 250px;">
				  <h5 class="card-title"><a href="{% url 'detail' article.id %}">{{article.title}}</a></h5>
				  <!--Troncarter les mots #truncatewords:nombre de motes-->
				  <p class="card-text">{{article.desc|truncatewords:8}}</p>
				  <!--Ajoute de filtre #timesince-->
				  <p class="card-text">Publié  il y a {{article.created_at|timesince}}</p>
				  <a href="{% url 'detail' article.id %}" class="btn btn-outline-primary">Lire la suite</a>
				</div>
			  </div>
		</div>
		{% endfor %}
      </div>
    </div>


{% endblock content %}